body {
    margin: 0;
    padding: 0;
    font-family: 'Axiforma', sans-serif;
    background-color: #131313; /* Цвет фона */
    color: #fff; /* Цвет текста */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.content-top {
    margin: 10px 0;
    text-align: center;
    height: 100px;
}

.thumbnails-container {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    display: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 60px; /* Отступ между ссылками */
}

nav ul li:last-child {
    margin-right: 0; /* Убираем отступ справа у последней ссылки */
}

nav ul li a {
    text-decoration: none;
    color: #CFCFCF; /* Цвет текста ссылок */
}

.login-btn button {
    background-color: #7943D2;
    color: #fff;
    border: none;
    padding: 10px 60px;
    border-radius: 5px;
    cursor: pointer;
}
.settings-panel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
}

.settings-panel label {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.settings-panel select,
.settings-panel input[type="number"],
.settings-panel input[type="range"] {
    width: calc(100% - 40px); /* Учитывает внутренние отступы и другие бокс-размытие */
    padding: 10px;

    background: #555;
    border: none;
    border-radius: 5px;
    color: white;
    box-sizing: border-box; /* Учитывает отступы и границы в общей ширине */
}

.settings-panel input[type="range"] {
    margin: 10px 0;
}

.download-all, .download {
  
    width: 88px ; /* Ширина минус отступы */
    box-sizing: border-box;
    margin-top: 10px;
    max-width: 100%; /* Ограничение по максимальной ширине */
}

.download-all {
    background-color: #44c251;
    margin-bottom: 12px; 
    margin-top: 0px;/* Add margin at the bottom */
    width: 100%;
}

.add-panel {
    background-color: #007bff;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px; /* Поддерживайте высоту кнопки в центре */
    border-radius: 5px; /* Примените тот же радиус, что и у download-all */
    font-size: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.app_logo img {
    width: 800px; /* Размер нового логотипа */
    margin-bottom: 10px;
}

.add-panel {
    /* ...existing styles... */
    /* Position the plus button relative to the content area */
    right: calc(100% - 600px - 20px - 50px); /* 100% of the content area minus image preview width, margin, and button width */
    bottom: 20px; /* Position from the bottom of the content area */
    margin-top: 10px; /* Add some space above the button */
}

.main-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
}

.upload-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    
}


.upload-box-main {
    padding: 40px;
    border-radius: 8px;
    display: inline-block;
}

.file-upload-container {
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
 
}

.file-upload-label {
    font-size: 18px;
    margin-top: 10px;
    display: inline-block;
    color: #585b60;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.file-upload-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Left content styles */
.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-right: 20px;
    max-height: 100%; /* Задайте максимальную высоту блока, подстраивая под ваши нужды */
    overflow-y: auto; 
}

.thumbnail {
    width: 100px; /* Thumbnail width */
    height: 100px; /* Thumbnail height */
    object-fit: cover;
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Clickable cursor on hover */
}

/* Settings container styles */
.settings-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-panel {
    position: relative;
    right: 0px;
    bottom: 5px;
}

.delete-panel {
    background-color: #ff4d4d; /* Red color for delete action */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.delete-panel:hover {
    background-color: #ff3333; /* Darker red on hover */
}

.size::-webkit-inner-spin-button,
.size::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.size {
    -moz-appearance: textfield;
}

/* Медиазапрос для устройств с шириной экрана до 1024px */
@media only screen and (max-width: 1024px) {
    .main-content {
        flex-direction: column; /* Сменить направление флекс-контейнера на вертикальное */
        align-items: center; /* Выровнять элементы по центру */
        padding: 20px; /* Уменьшить отступы */
    }
    .container {
        padding: 30px; /* Уменьшить отступы */
    }

    header h1 {
        font-size: 1.8em; /* Уменьшить размер заголовка */
    }

    header p {
        margin: 10px 0 20px; /* Уменьшить отступы */
    }
    .left-content {
        max-width: 100%; 
        padding-right: 0%;
    }
    .image-preview {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        border-radius: 10px;
    }

    .thumbnail {
        width: 100px; /* Thumbnail width */
        height: 100px; /* Thumbnail height */
        object-fit: cover;
        border-radius: 10px; /* Rounded corners */
        cursor: pointer; /* Clickable cursor on hover */
    }

    .settings-container {
        flex-grow: 1;
        max-width: 100%; /* Adjust based on your layout preferences */
        display: flex;
        flex-direction: column;
        align-items: center; /* Adjust as needed */
    }
}

/* Медиазапрос для устройств с шириной экрана до 800px */
@media only screen and (max-width: 800px) {

    .main-content {
        flex-direction: column; /* Сменить направление флекс-контейнера на вертикальное */
        align-items: center; /* Выровнять элементы по центру */
        padding: 20px; /* Уменьшить отступы */
    }
    .container {
        padding: 30px; /* Уменьшить отступы */
    }

    header h1 {
        font-size: 1.8em; /* Уменьшить размер заголовка */
    }

    header p {
        margin: 10px 0 20px; /* Уменьшить отступы */
    }
    .left-content {
        max-width: 100%; 
        padding-right: 0%;
    }

    .thumbnail {
        width: 100px; /* Thumbnail width */
        height: 100px; /* Thumbnail height */
        object-fit: cover;
        border-radius: 10px; /* Rounded corners */
        cursor: pointer; /* Clickable cursor on hover */
    }
    .settings-container {
        flex-grow: 1;
        max-width: 100%; /* Adjust based on your layout preferences */
        display: flex;
        flex-direction: column;
        align-items: center; /* Adjust as needed */
    }
}
/* Медиазапрос для устройств с шириной экрана до 420px */
@media only screen and (max-width: 420px) {
   
    .left-content {
        max-width: 100%; 
        padding-right: 0%;
    }
    .image-preview {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        border-radius: 10px;
    }

.image-preview {
    width: 100%; /* Set the width of the image preview area */
    height: 100%; /* Set the height of the image preview area */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-preview img {
    max-width: 100%;
    max-height: 600px;
    border-radius: 10px;
    object-fit: contain; /* Ensures the image keeps its aspect ratio */
}
.settings-container {
    flex-grow: 1;
    max-width: 100%; /* Adjust based on your layout preferences */
    display: flex;
    flex-direction: column;
    align-items: center; /* Adjust as needed */
}
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

header h1 {
    margin: 0;
    font-size: 4em;
    text-align: center;
}

header p {
    margin: 10px 0 0px;
    color: #aaa;
    text-align: center;
    font-size: 1.5em;
}

.upload-box-main {
    padding: 40px;
    border-radius: 8px;
    display: inline-block;
}

.file-upload-container {
    width: 600px;
    height: 300px;
    border: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px auto;
}

.file-upload-container-small {
    width: 100px;
    height: 300px;
    border: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px auto;
}

.file-upload-label {
    font-size: 18px;
    margin-top: 10px;
    display: inline-block;
    color: #585b60;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.file-upload-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-upload-input-small {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

button {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
 
}

#preview-container {
    display: flex;
    justify-content: space-around;
}

#preview-container img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 10px;
}

.thumbnails-container {
    width: 100%;
    max-height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.thumbnail-container {
    position: relative;
    /* display: inline-block; or another display type as per your layout */
    margin: 5px;
}

.thumbnail {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.thumbnail-name {
    position: relative;
    text-align: center;
    bottom: -5px; /* Adjust as needed */
    width: 100%;
    color: #fff; /* Default text color */
    font-family: Arial, sans-serif; /* Default font family */
    font-size: 14px; /* Default font size */
}

/* Медиа-запросы для различных размеров экрана */
@media (max-width: 1024px) {
    .file-upload-container, button {
        width: 100%; /* Изменяем ширину на более узкую на больших экранах */
    }
    header h1 {
        font-size: 3.5em; /* Уменьшаем размер шрифта для экранов шириной до 1024px */
    }

    header p {
        font-size: 1.4em; /* Уменьшаем размер шрифта для экранов шириной до 1024px */
    }
    .file-upload-label {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .file-upload-container, button {
        width: 100%; /* Изменяем ширину на 100% на средних экранах */
    }

    #preview-container img, .thumbnail {
        max-width: 60px; /* Уменьшил размер изображений для средних экранов */
        max-height: 60px;
    }
    header h1 {
        font-size: 2.5em; /* Уменьшаем размер шрифта для меньших экранов */
    }

    header p {
        font-size: 1.2em; /* Уменьшаем размер шрифта для меньших экранов */
    }
    .file-upload-label {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    header h1 {
        font-size: 2em; /* Уменьшаем размер шрифта для экранов шириной до 420px */
    }

    header p {
        font-size: 0.9em; /* Уменьшаем размер шрифта для экранов шириной до 420px */
    }
    
    .file-upload-container, button {
        width: 100%; /* Изменяем ширину на 100% на маленьких экранах */
    }

    #preview-container img, .thumbnail {
        max-width: 20px; /* Уменьшил размер изображений для маленьких экранов */
        max-height: 20px;
    }
    .upload-box-main {
    max-width: 100%;
    }

    .upload-box-small {
        max-width: 100%;
    }

    .file-upload-label {
        font-size: 12px;
    }

    .file-upload-label-small {
        font-size: 12px;
    }
}