<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя страница</title>
    <link rel="stylesheet" href="static/style.css"> 
</head>
<body>
    <div class="container">
        <header>
            <div class="coco-logo">
                <img src="static/img/logo.svg" alt="Логотип">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Compressor</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </nav>
            <div class="login-btn">
                <button>Log In</button>
            </div>
        </header>
        
        <div class="content">
            <div class="app-logo">
                <img src="static/img/COMPRESSIFY.svg" alt="Новый логотип">
                <p>Compress your images in seconds</p>
            </div>

            <div class="upload-container">
                <div class="upload-box" id="upload-box">
                    <div class="file-upload-container" id="file-upload-container">
                        <img src="static/img/icon_attachment.svg" alt="Custom SVG"> <!-- Исправлен путь к изображению -->
                        <label for="file-upload" class="file-upload-label">Click, paste, or drop files here to start</label>
                        <input type="file" id="file-upload" class="file-upload-input" name="file" multiple>
                    </div>
                </div>
            </div>

            <div class="format-panel">
                <div class="option-container">
                    <div class="option-group">
                        <div class="option">
                            <label for="format">Select format</label>
                            <div class="option-size">
                                <select class="format-selector" id="format" onchange="updateFormat(this)">
                                    <option value="png">PNG</option>
                                    <option value="jpeg">JPEG</option>
                                    <option value="webp">WEBP</option>
                                </select>
                            </div>
                        </div>
                        <div class="option">
                            <label for="size">Max size</label>
                            <div class="option-size">
                                <input type="number" class="size-selector" id="size" value="128" min="0" oninput="updateSize(this)">
                                <select class="format-selector" id="format" onchange="updateFormat(this)">
                                    <option value="png">Kb</option>
                                    <option value="jpeg">Mb</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="save">
                        <button class="download" onclick="downloadOutput(this)">
                            <img src="static/img/Button.svg" alt="Download Icon">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/index.js"></script>
</body>
</html>
