<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imageвыааы</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" />
    <link rel="stylesheet" href="static/upload_style.css">
    <script src="static/index.js"></script>
</head>
<body>
    <div class="upload-container">
        <header>
            <h1>IMAGE COMPRESSOR</h1>
            <p>Compress your images in seconds</p>
        </header>
        <div class="upload-box" id="upload-box">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="file-upload-container" id="file-upload-container">
                    <i class="fa-solid fa-file-arrow-up fa-beat fa-2x"></i>
                    <label for="file-upload" class="file-upload-label">Click, paste, or drop files here to start</label>
                    <input type="file" id="file-upload" class="file-upload-input" name="file" multiple>
                </div>
                <div id="thumbnails-container"></div>
                <button type="submit" id="upload-button" disabled>Upload</button>
            </form>
        </div>
    </div>

</body>
</html>
