    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Image Upscaler</title>
        <link rel="stylesheet" href="static/compressor_style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" />
    </head>

    <script>
        // Initialize an empty array
        var filenames = [];
        {% for filename in filenames %}
            filenames.push('{{ url_for('static', filename='uploads/' + filename) }}');
        {% endfor %}
    </script>

    <body>

    <div class="container">
        <header>
            <h1>IMAGE COMPRESSOR</h1>
            <p>Compress your images in seconds</p>
        </header>

        <div class="main-content">
            <div class="left-content" id="left-content">
                <!-- Thumbnails Container -->
                <div class="thumbnails-container" id="thumbnails-container"></div>

                <div class="upload-container" id="upload-container">
                    <div class="upload-box-main" id="upload-box-main">
                        <div class="file-upload-container" id="file-upload-container">
                            <i class="fa-solid fa-file-arrow-up fa-beat fa-2x"></i>
                            <label for="file-upload" class="file-upload-label">Click, paste, or drop files here to start</label>
                            <input type="file" id="file-upload" class="file-upload-input" name="file" multiple>
                        </div>
                    </div>
                </div>
                
            </div>

            <div id ="settings-panel-template" style="display: none;">

                <div class="upload-box-small" id="upload-box-small">
                    <div class="file-upload-container-small" id="file-upload-container-small">
                        <i class="fa-solid fa-file-arrow-up fa-beat fa-2x"></i>
                        <label for="file-upload-small" class="file-upload-label">Click, paste, or drop files here to start</label>
                        <input type="file" id="file-upload-small" class="file-upload-input-small" name="file-small" multiple>
                    </div>
                </div>

                <!-- Your settings panel structure here -->
                <label for="format_in_template">Choose format</label>
                <select class="format" id="format_in_template">
                    <option value="png">PNG</option>
                    <option value="jpeg">JPEG</option>
                    <option value="webp">WEBP</option>
                </select>

                <input type="hidden" class="filename" name="filename" value="{{ url_for('static', filename=filenames) }}">
                
                <label for="size_in_template">Size</label>
                <input type="number" class="size" name="size" id="size_in_template" value="128" min="0" style="-moz-appearance: textfield;">                    
                <button class="download" onclick="downloadOutput(this)">Download output</button>
                <button class="delete-panel" onclick="deletePanel(this)">Delete</button>
            </div>
            
            <!-- Right side: Settings Panels -->
            <div class="settings-container">
                <button class="download-all" onclick="downloadAll()">Download all</button>
            
                <div class="add-panel" onclick="addPanel()">+</div>
            </div>
        </div>
    </div>

    <script src="static/index.js"></script>

    </body>
    </html>